[submodule "deps/hlibgit2"]
	path = deps/hlibgit2
	url = https://github.com/alaviss/hlibgit2
[submodule "deps/hlibssh2"]
	path = deps/hlibssh2
	url = https://github.com/haxscramper/hlibssh2
[submodule "deps/parsetoml"]
	path = deps/parsetoml
	url = https://github.com/NimParsers/parsetoml
[submodule "deps/badresults"]
	path = deps/badresults
	url = https://github.com/disruptek/badresults
[submodule "deps/gittyup"]
	path = deps/gittyup
	url = https://github.com/disruptek/gittyup
